Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44336/Negocio/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44336/Negocio/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44336/Negocio/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Finanzauto.Web.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertarEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEstudiante" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarEstudiante_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstudiante" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarEstudiante_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEstudianteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarEstudiantes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEstudiantes" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarEstudiantes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarEstudiantesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProfesor" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProfesores_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProfesores" />
  </wsdl:message>
  <wsdl:message name="IService1_EliminarProfesores_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProfesoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProfesor_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProfesor" />
  </wsdl:message>
  <wsdl:message name="IService1_ActualizarProfesor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProfesorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProfesores_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProfesores" />
  </wsdl:message>
  <wsdl:message name="IService1_BuscarProfesores_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProfesoresResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertarEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarEstudiante" message="tns:IService1_InsertarEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarEstudianteResponse" message="tns:IService1_InsertarEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstudiante">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarEstudiante" message="tns:IService1_ActualizarEstudiante_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarEstudianteResponse" message="tns:IService1_ActualizarEstudiante_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarEstudiantes" message="tns:IService1_EliminarEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarEstudiantesResponse" message="tns:IService1_EliminarEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarEstudiantes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarEstudiantes" message="tns:IService1_BuscarEstudiantes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarEstudiantesResponse" message="tns:IService1_BuscarEstudiantes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertarProfesor" message="tns:IService1_InsertarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertarProfesorResponse" message="tns:IService1_InsertarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProfesores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EliminarProfesores" message="tns:IService1_EliminarProfesores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EliminarProfesoresResponse" message="tns:IService1_EliminarProfesores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProfesor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ActualizarProfesor" message="tns:IService1_ActualizarProfesor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ActualizarProfesorResponse" message="tns:IService1_ActualizarProfesor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProfesores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuscarProfesores" message="tns:IService1_BuscarProfesores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuscarProfesoresResponse" message="tns:IService1_BuscarProfesores_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEstudiante">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEstudiante">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarEstudiante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarEstudiantes">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarEstudiantes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProfesor">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProfesores">
      <soap:operation soapAction="http://tempuri.org/IService1/EliminarProfesores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProfesor">
      <soap:operation soapAction="http://tempuri.org/IService1/ActualizarProfesor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProfesores">
      <soap:operation soapAction="http://tempuri.org/IService1/BuscarProfesores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64925/Negocio/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>