Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Finanzauto.Web.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Finanzauto.Web.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRelaciones.Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relaciones.Estudiante" nillable="true" type="tns:Relaciones.Estudiante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelaciones.Estudiante" nillable="true" type="tns:ArrayOfRelaciones.Estudiante" />
  <xs:complexType name="Relaciones.Estudiante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Curso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relaciones.Estudiante" nillable="true" type="tns:Relaciones.Estudiante" />
  <xs:complexType name="ArrayOfRelaciones.Profesor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relaciones.Profesor" nillable="true" type="tns:Relaciones.Profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelaciones.Profesor" nillable="true" type="tns:ArrayOfRelaciones.Profesor" />
  <xs:complexType name="Relaciones.Profesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Especialidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relaciones.Profesor" nillable="true" type="tns:Relaciones.Profesor" />
</xs:schema>